body {
  width: 300px;
  margin: 0;
  padding: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background: #fafafa;
  color: #111;
}

h1 {
  margin-top: 0px;
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 0.85rem;
  color: #777;
  margin-bottom: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

input {
  width: 36px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 4px;
}

button {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
}

button.save {
  background: #111;
  color: white;
}

button.success {
  background: #16ca61;
  color: white;
}

button.refresh {
  background: #9f9f9f;
  color: #111;
  font-style: italic;
}

button.reset {
  background: transparent;
  color: #888;
  border: 1px solid #ddd;
  margin-top: 5px;
}

button.reset.confirm {
  background: #d31a06;
  color: white;
  border-color: #951709;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
}

.fade-out {
  opacity: 0;
  transition: opacity 180ms ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 180ms ease;
}
.segmented {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}

.segmented button {
  flex: 1;
  padding: 6px 0;
  border: none;
  background: #f5f5f5;
  color: #555;
  cursor: pointer;
}

.segmented button.active {
  background: rgb(255, 200, 0);
  color: white;
  font-weight: bold;
}
